/58-59.pdf
/60-64.pdf
/agua.jpg
/ATIVIDADE ALGORITMO E PROGRAMAÇÃO modulo 2 presença.docx
/ATIVIDADE ALGORITMO E PROGRAMAÇÃO.pdf
/ATIVIDADE ALGORITMO.docx
/bolo-de-desenho-animado-com-geleia-ou-xarope-em-um-prato-rosa_217290-590.webp
/bolo-valentine-vetor-cliparte_csp23535652.webp
/bolo.jpg
/checkout modulo2-1.docx
/Doc5.docx
/Escolha um problema envolvendo regra de três.docx
/expressoes-operadores-variaves-modulo 2.docx
/expressoes-operadores-variaves-modulo 2.pdf
/images.jpg
/matematica basica primeiro modulo.docx
/MATEMATICA BASICA-MODULO 3.pdf
/matematica basica-modulo4.docx
/mesa-de-madeira-em-fundo-branco_1308-71737.webp
/modulo2_ufms.py
/PENSAMENTO COMPUTACIONAL - MODULO 2.pdf
/PENSAMENTO COMPUTACIONAL - MODULO 3.docx
/PENSAMENTO COMPUTACIONAL modulo 1.docx
/PENSAMENTO COMPUTACIONAL modulo 1.pdf
/PENSAMENTO COMPUTACIONAL modulo 2.docx
/PENSAMENTO COMPUTACIONAL.pdf
/prova ufms - modulo 2.docx
/refrigerante.jpg
/teste_concurso.py